/*Reset estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Pagina Inicio*/
body{
    background-image: url(imagen/fondos/fondo_2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85dvh;
    padding-top: 10rem;
}
h1{
    color: whitesmoke;
    text-align: center;
    font-size: 6rem;
    user-select: none;
}
.container_buttons{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.container_buttons > button{
    cursor: pointer;
    padding: 1.8rem;
    font-size: 1.3rem;
    color: whitesmoke;
    border-radius: 10px;
    background-color: #fff6;
    border: 1px solid whitesmoke;
    width: clamp(200px, 15vw, 600px);
    transition: box-shadow 500ms, background-color 1s;
    white-space: nowrap;
}
.container_buttons > button:hover{
    box-shadow: 0 0 5px 2px rgb(255, 173, 50);
    background-color: rgb(205, 163, 50);
}

/*Compra Helados*/

.buscador{
    width: clamp(400px, 50%, 700px);
    margin: auto;
    background-color: white;
    border-radius: 50px;
    color: black;
    font-size: 1.6rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buscador input{
    width: 75%;
    font-size: 1.4rem;
    border: none;
    outline: none;
}
/* Cartas de productos */
.container_cards{
    max-width: 1080px;
    margin: 40px auto;
    padding: 10px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.card{
    max-width: 500px;
    max-height: 300px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: whitesmoke;
    cursor: pointer;
    position: relative;
}
.card:hover{
    box-shadow: 0 0 6px 2px whitesmoke;
}
.container_card_img{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
.container_card_img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.container_card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
}
h3{
    font-size: 1.4rem;
}
h3, p, span{
    margin: 8px;
}
.precio{
    width: fit-content;
    padding: 5px;
    background-color: #444;
    color: whitesmoke;
    font-weight: bold;
}
/* Boton para continuar con la compra */

.continuar{
    position: absolute;
    width: fit-content;
    background-color: #fff;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 12px 24px;
    border-radius: 25px;
    letter-spacing: 1px;
    transition: box-shadow 500ms;
}
.continuar:hover{
    box-shadow: 0 0 6px 2px #ccc;
}

/*Compra de Helados*/
.carrusel, .totalCarrito{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: clamp(300px, 50vh, 700px);
    width: clamp(400px, 30dvw, 600px);
    background-color: white;
    border-radius: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    position: relative;
}
.totalCarrito{
    height: fit-content;
    width: clamp(200px, 30%, 500px);
    padding: 1.4rem;
    gap: 12px;
    justify-content: center;
}
.totalCarrito > input{
    padding: 2px;
    margin: 4px 0;
    font-size: 1rem;
}
.btnVaciar{
    padding: 15px;
    font-size: 1.1rem;
    background-color: #ff4d4d;
    color: white;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
.spanCantidad{
    position: absolute;
    font-size: 0.8rem;
    padding: 6px;
    top: -4px;
    right: -4px;
    background-color: #f29be0;
    border-radius: 50%;
}
.total{
    position: absolute;
    font-size: 0.8rem;
    padding: 5px;
    top: -3px;
    right: 26px;
    background-color: #f29be0;
    border-radius: 10px;
}
h2{
    background-color: #f29be0;
    padding: 8px;
    border-radius: 12px;
}
.spanPago, .conversion{
    margin: 0;
    padding: 0;
}
.pago, .conversion{
    background-color: #444;
    color: whitesmoke;
    padding: 3px;
    border-radius: 5px;
}
.comprar{
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    background-color: #f29be0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}
