/* Pagina Principal */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    background-image:url(imagen/fondo_2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
}
h1{
    color: #228;
    text-align: center;
    font-size: 6rem;
    margin: 1rem;
    user-select: none;
}
.container{
    height: 85dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons{
    height: 40dvh;
    width: 50dvw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#btn_comprar, #btn_agregarProducto, #btn_apagarSitema{
    width: clamp(250px, 15vw, 600px);
    padding: clamp(1rem, 5%, 1.5rem) 5px;
    background-color: #fff6;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 3px #228;
    color: #228;
    font-size: 1.1rem;
    transition: box-shadow 500ms, background-color 1s;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 0 5px 1px rgb(255, 173, 50);
    background-color: #fff1aa66;
}

/* Apartado Compras */

/* Volver al menu y barra de busqueda */

.material-symbols-outlined{
    color:black;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.material-symbols-outlined:after{
    content: " ";
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    background-color: whitesmoke;
    border-radius: 50%;
    z-index: -1;
}

.buscador{
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 50px;
    color: black;
    font-size: 1.6rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buscador input{
    width: 75%;
    font-size: 1.4rem;
    border: none;
    outline: none;
}
/* Cartas de productos */
.container_cards{
    max-width: 1080px;
    margin: 40px auto;
    padding: 10px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.card{
    max-width: 500px;
    max-height: 300px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: whitesmoke;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 0 6px 2px whitesmoke;
}
.container_card_img{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
.container_card_img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.container_card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
}
h3{
    font-size: 1.4rem;
}
h3, p, span{
    margin: 8px;
}
.precio{
    width: fit-content;
    padding: 5px;
    background-color: #444;
    color: whitesmoke;
    font-weight: bold;
}

/* Carrito */

.continuar{
    position: absolute;
    width: fit-content;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 20px;
    padding:8px;
    border-radius: 10px;
}
.continuar:hover{
    box-shadow: none;
    background-color: whitesmoke;
}

.notificacion_carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px;
    font-size: 1rem;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: fit-content;
    width: fit-content;
    background: #f29be0;
    border-radius: 12px;
    animation: notificacion 2s ease-in forwards;
}
.carrito{
    height: 100vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carrito h2{
    font-size: 3rem;
}

#comprar, #eliminar{
    padding: 10px;
}
.gracias{
    color: white;
    font-size: 4rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes notificacion {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
